*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: 'montseratt', sans-serif;
}

.app{
  background-image: url(./backgrounds/cold-bg.jpg);
  background-size:cover;
  background-position: bottom;
  transition: 0.9 ease-out;
}

/*Depending on the weather temperature our background image will try and match the weather*/
.app.warm{
  background-image: url(./backgrounds/warm-bg.jpg);
}
main{
  min-height: 100vh;
}